.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading__spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading__text {
  margin-top: 2rem;
  font-size: large;
  font-weight: 600;
  color: #008db0;
}